body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    padding-left: 500px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    max-width: 550px;
    background: linear-gradient(#fa9dea 50%, rgb(161, 238, 248) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    /* margin: 20px; */
    /* background-color: #fff; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    transform: perspective(800px) rotateX(0deg); /* Enables hardware acceleration for smoother animation */
    transition: background-position 0.9s ease-in-out;
  }
  .container:hover {
    background-position: top;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  